body {
  font-family: sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#caricamento {
  display: block;
}
img.center {
  place-items: center;
  margin-top: 35%;
}
/*descrizione fine pagina*/
.hbot {
  margin: 0 auto;
  background-color: rgba(245, 244, 244, 0.527);
  height: auto;

  font-size: 20px;
  text-align: left;
  bottom: 0px;
  font-size: 15px;
}

/**/
.boot {
  display: flex;
}

h1 {
  text-align: left;
  font-size: 50px;
}

h2 {
  text-align: center;
}

.occupazioni {
  padding: 15px;
  max-width: 20% auto;
  margin-left: 5%;
}

.primo {
  display: flex;
  background: url("../immagini/progetto.jpg");
  border: 2px red solid;
  /*width: 80%;
  margin-right: 10%;
  margin-left: 10%;*/
  margin-top: 100px;
  margin-bottom: 100px;
}

.secondo {
  display: flex;
  background: url("../immagini/allestimento.jpeg") center center;
  border: 3px red solid;
  /* width: 80%;
  margin-right: 10%;     bordi banner 
  margin-left: 10%;*/
  margin-top: 100px;
  margin-bottom: 100px;
}

.testo1 {
  border: solid 2px red;
  margin-left: 15%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.immagini {
  height: auto;
  max-height: 500px;
}

.cornice {
  height: 600px;
  padding: 50px;
}
